/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  /*margin: 40px 0px 70px;*/
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  /*margin: 5px;*/
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  /*margin: 15px 6px 6px;*/
}


.titleArticle {
	font-size: 22px;
  	font-weight: bold;
  	color: black;
  	width: 90vw;
  	display: block;
  	margin-top: 10px;
}

.contentArticle {
	margin-top:10px;
	margin-bottom:10px;
	font-size: 16px;
}

.authorLink {
	font-size: 22px;
	font-style: oblique;
}

.titleArticleTextArea{
	width: 500px;
	resize: none;
}

.contentArticleTextArea{
	height: 100px;
	width: 500px;
	resize: none;
}

.contentComment {
	margin-top:8px;
}

.contentCommentTextArea {
	height: 65px;
	width: 400px;
	font-size: 10px;
	resize: none;	
}

.subCategoryList {
	margin-bottom: 10px;
}

.label {
	font-size: 15px;
  	font-weight: bold;
  	margin-bottom: 6px;
  	margin-top: 6px;
}

.labelDate {
	font-size: 10px;
  	margin-bottom: 6px;
  	margin-top: 2px;
}

.welcome {
	font-size: 25px;
  	font-weight: bold;
  	font-family: "Lucida Console";
  	color: grey;
  	margin-bottom: 6px;
}

.like{
	font-size: 13px;
  	font-weight: bold;
  	margin-bottom: 5px;
}

.yourAction {
	font-size: 15px;
  	font-weight: bold;
  	margin-bottom: 6px;
  	margin-top: 6px;
}

.table td{
	text-align: center;
	border: 1px solid black;
}

.btn {
	font-weight: bold;
	margin-right: 5px !important;
	margin-top: 3px !important;
	margin-bottom: 5px !important;
}

.btn:hover {
	background: #fa9e3c;
	background-image: -webkit-linear-gradient(top, #fa9e3c, #c0d934);
	background-image: -moz-linear-gradient(top, #fa9e3c, #c0d934);
	background-image: -ms-linear-gradient(top, #fa9e3c, #c0d934);
	background-image: -o-linear-gradient(top, #fa9e3c, #c0d934);
	background-image: linear-gradient(to bottom, #fa9e3c, #c0d934);
	text-decoration: underline;
}

.div-container {
	margin-left: 10px
}
